/* estilos del carousel */
.carousel-item{
    height: 600px;
    text-shadow: 1px 1px 3px black;
}

.carousel-item img {
    filter: brightness(0.7)
}


/* ----------  estilos de menu  ---------- */
.contenedor-tablas {
    background: url("../images/pizza.jpg");
}

.table-img {
    max-width: 150px;
}